<div>
  <div class="header-blue">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
      <div class="container-fluid">
        <img style="width: 2%;" src="../../assets/water.svg" alt="" />
        <a
          style="color: black; font-family: 'Courgette', cursive;"
          class="navbar-brand"
          href="#"
          >RISH</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1"></div>
      </div>
    </nav>
    <div class="container hero">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 textcol">
          <h1
            style="
             font-family: 'Dancing Script', cursive;
              color: #262626;
              font-size: 60px;
              text-shadow: 0 0 15px 3px black;
            "
          >
            Howdydo!!!
          </h1>
          <p
            style="font-family: 'Dancing Script', cursive; font-size: 25px;"
          >
            Weather may not be the most fascinating subject of conversation but
            its something we all check everyday..So let's explore.
          </p>
          <button
            (click)="userLogin()"
            class="btn btn-light btn-lg action-button"
            type="button"
          >
            Login
          </button>
          <button
            (click)="adminLogin()"
            class="btn btn-light btn-lg action-button"
            type="button"
          >
            Admin Login
          </button>
          <button
            (click)="signUp()"
            class="btn btn-light btn-lg action-button"
            type="button"
          >
            Sign Up
          </button>
        </div>
        <div
          class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-lg-block phone-holder"
        >
          <div class="iphone-mockup">
            <img class="device" src="assets/intro2.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="copyright">
  <p style="font-family: 'Courgette', cursive;">&copy; 2020 Rish Team</p>
</footer>
